<%- include('../partials/header') %>
<table>
    <thead>
        <tr>
            <th class="t1">Airline</th>
            <th class="t1">Airport</th>
            <th class="t1">Flight Number</th>
            <th class="t1">Departs</th>
            <th class="t1">Details</th>
        </tr>
    </thead>
    
    <tbody><br>
        
        <% flights.forEach(function(f) { %>
            <tr>
                <td class="td1"><%= f.airline %></td>
                <td class="td1"><%= f.airport %></td>
                <td class="td1"><%= f.flightNo %></td>
                <td class="td1"><%= f.departs %></td>
                <td class="td1"><a href="/flights/<%= f._id %>">Details</a></td>
            </tr>
            
            <% }); %>
        </tbody>
    </table> 
        
<%- include('../partials/footer') %>