<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departs</th>
        </tr>
    </thead>
    
    <tbody><br>
        
        <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href="/flights/<%= f %>"></a></td>
            </tr>
            
            <% }); %>
        </tbody>
    </table>
        
        
<%- include('../partials/footer') %>