<%- include('../partials/header') %>

<section id="show-page">
    <div>Flight:</div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
  </section>

  
  <% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(f) { %> 
                <tr>
                    <td class="show1"><%= f.airport %></td>
                    <td class="show1"><%= f.arrival %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Destination Yet</h5>
            <% } %>
        
        <table>
          <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
            </tr>
        </thead>
          <tbody>
            <% tickets.forEach(function(t) { %>
              <tr>
                <td><%= t.seat %></td>
                <td><%= t.price %></td>
              </tr>
              <% }); %>
          </tbody>
        </table>
        <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
            <br><br><h2>Details</h2>
          <form id="add-review-form" method="POST" action="/flights/<%= flight._id %>/destinations">
            <label>Airport Code:</label>
            <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SAN" selected>SAN</option>
            </select>
            <label>Arrival
              <input type="date" required name="arrival">
            </label>
            <input type="submit" value="Add Destination">
          </form>


          
            <%- include('../partials/footer') %>